    Checks:          'bugprone*,clang-analyzer*,cert*,misc*,modernize*,performance*,portability*
                     google*,-google-readability-braces-around-statements,
                     cppcore*,
                     hicpp*,-hicpp-signed-bitwise,-hicpp-braces-around-statements,
                     llvm*,-llvm-header-guard,
                     readability*,-readability-braces-around-statements'

    FormatStyle:     file
    CheckOptions:
      - key:     readability-implicit-bool-conversion.AllowIntegerConditions
        value:   '1'
